html {
    background: url(/images/lava.gif),url(/images/ash.gif), linear-gradient(to bottom, rgb(150, 20, 87), rgb(36, 16, 11));
  background-size: 25%,40%, 100%;
  background-position: bottom, bottom, bottom;
  background-attachment: fixed, auto, fixed;
  background-repeat: repeat-x,repeat, no-repeat;
  background-blend-mode: multiply;
  overflow: auto;
  text-align: top;
  scroll-behavior: auto;
  font-family: tahoma;
  overflow: hidden;
	scroll-behavior: auto;
	font-family: tahoma;
}

a {
  border-radius:10px;
  font-size:5vh!important;
  background-color: #1b2647;
  color: rgb(200,200,200);
  text-decoration: none;
  padding:15px 15px 9px 15px!important;
  margin:10px;
  filter:brightness(1) saturate(1.1);
}    

a:hover{
  filter:brightness(1.2) saturate(1.3);
  transform:scale(1.1);
}

a:active{
  filter:brightness(0.5);
  transform:scale(0.9);
}

a::before{
  margin-right:10px;
  --iconsize:9vh;
}

.users {display: grid; grid-template-columns: repeat(4, 1fr);}
