/* START Animated PopOver */
[popover]:popover-open {
	opacity: 1;
	transform: scaleX(1);
}

[popover] {
	font-size: 1.2rem;
	padding: 10px;

	opacity: 0;
	transform: scaleX(0);

	transition:
		opacity 0.35s,
		transform 0.35s,
		overlay 0.35s allow-discrete,
		display 0.35s allow-discrete;
}
@starting-style {
	[popover]:popover-open {
		opacity: 0;
		transform: scaleX(0);
	}
}

[popover]::backdrop {
	background-color: rgb(0 0 0 / 0%);
	transition:
		display 0.35s allow-discrete,
		overlay 0.35s allow-discrete,
		background-color 0.35s;
}

[popover]:popover-open::backdrop {
	background-color: rgba(42, 9, 71, 75%);
}

@starting-style {
	[popover]:popover-open::backdrop {
		background-color: rgb(0 0 0 / 0%);
	}
}
/* END Animated PopOver */