/* START Determination */

#sunkistPalaceHTML, #menu, #status, summary, .message, .rightist {
 font-family: "Undertale"!important;
}

h1 {
 background:black;
 border: gray 2px solid;
 border-radius: 0px;
 color: white!important;
 font-family: Deltarune;
 font-size:64px;
 margin:10px;
 padding-top:15px;
 letter-spacing:1px;
 font-weight:normal;
 -webkit-box-reflect: below 5px linear-gradient(
  to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0))!important;
 text-shadow:none!important;
}

#sunkistPalaceHTML {
 background: url('../users/assets/boxel/backgrounds/deltarune.png') fixed center top;
 background-size: cover;
}

#menu {
 backdrop-filter: none;
 background: black;
 border: white 2px solid;
 border-radius: 0;
}

#soapMode {
 background: black;
 font-family: Undertale!important;
 -webkit-box-reflect: below 5px linear-gradient(
  to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0))!important;
 outline: none!important;
 border: gray 2px solid;
}

#soapMode:focus {
 border-color: rgba(255, 200, 0, 1);
}

details {
 color: white;
 background: none;
}

/* .message {
 backdrop-filter: blur(8px);
} */

.rightist {
 color:white!important;
 border: white 2px solid!important;
 border-radius:0px!important;
 background: rgba(0,0,0,0.75)!important;
}

summary {
 transition:none;
 border: white 2px solid;
}

summary:hover {
 border-color: rgba(255,200,0,1);
}

/* END Determination */