/* START Dusk Horizon */

#sunkistPalaceHTML {

textarea {outline: none!important;}

#soapMode {
 backdrop-filter: blur(8px);
 margin: 10px;
 background: rgba(0,0,0,0.1);
 box-shadow: 0 0 30px 15px rgba(0,0,0,0.7), 0 0 10px 7px rgba(0,0,0,0.3);
 padding: 10px;
 border: solid 1px rgba(0,0,0,0.1);
 width: 98%!important;
}

a {
 backdrop-filter: blur(8px);
 background: rgba(0,0,0,0.5);
 color: white;
 border-radius: 5px;
 padding: 10px;
}

textarea {
 backdrop-filter: blur(8px);
 background: rgba(0,0,0,0.5);
}

#menu {
 backdrop-filter: blur(8px);
 background: rgba(0,0,0,0.5);
 user-select: none;
}

details {
 backdrop-filter: blur(8px);
 background: rgba(0,0,0,0.1);
 color: white;
 border: white;
}

details button {
 background: rgba(0,0,0,0.5);
 color: white;
 border: white;
}

details button:hover {
 color: initial;
 border: initial;
}

details a {
 display: none;
}

#menuTitle {
 background: none;
}

#status {
 backdrop-filter: blur(8px);
 background: rgba(0,0,0,0.5);
}

#sCss, #sJsMenu {
 backdrop-filter: blur(2px);
 background: rgba(0,0,0,0.5);
}

.rightist, right {
 backdrop-filter: blur(8px)!important;
 background: rgba(0,0,0,0.5)!important;
 color: white!important;
 border: white!important;
 font-family: 'Arial'!important;
 text-shadow: none!important;
}

#lastRead {
 display: none;
}

.console {
 backdrop-filter: blur(8px);
 background: rgba(0,0,0,0.5);
}

::backdrop {background:rgba(25,0,35,0.5);backdrop-filter:blur(8px);}

}

#sunkistPalaceHTML {
 background: url(../users/mods/modBackgrounds/dusk-horizon.jpeg) center fixed;
 background-size: 100% auto;
}

/* END Dusk Horizon */