/*START Glasskist*/

html {
    background: url(/images/rain.gif), linear-gradient(187deg, rgb(87 201 231) 0%, rgb(24 84 128) 50%, rgb(92 10 92) 100%);
}
#menu {
    position: sticky;
    z-index: 15;
    border-radius: 3px;
    backdrop-filter: blur(8px);
    top: 10;
    background-color: rgba(100, 100, 100, 0.3);
    margin: auto;
    width: 80%;
    padding: 5px;
    /* border: ridge rgba(100, 50, 170, 0.8) 2px; */
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: #008aff;
    text-shadow: #7a0ea7 4px 2px 2px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'coomer';
}

#status {
    width: 100%;
    font-family: sans-serif;
    color: #2aca60;
    border-bottom-left-radius: 9px;
    /* padding: 6px; */
    padding: 6px;
    margin: auto;
    background-color: rgba(15, 15, 15, 0.3);
    backdrop-filter: blur(8px);
    text-align: left;
    font-family: sans-serif;
    border-bottom-right-radius: 9px;
    font-weight: 620;
}

#typingP {
    float: right;
    color: #e4e4e4;
    padding-top: 8;
}

#soapMode {
    height: 8%;
    width: 100%;
    padding: 5px;
    /* accent-color: red; */
    /* border-color: grey; */
    border-radius: 2px;
}

summary {
    /* backdrop-filter: hue-rotate(284deg); */
    transition: all 2s;
    cursor: pointer;
    border-bottom: white solid 2px;
    font-family: tahoma;
    color: white;
    border-radius: 5px;
}

details {
    backdrop-filter: sepia(100%);
    background-color: rgba(150, 150, 150, 0.2);
    transition: all 2s;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.identifier, .rightist {
    padding-left: 6px;
}

/*END Glasskist*/