/* START Imagisphere */

:root {--iconsize:60px;}

.message::before {
  margin-bottom: -14.5px;
  border-radius: 100%;
  background-color: rgba(50,50,50,1);
  border-width: 0;
  border-image-source: url("../users/assets/boxel/images/linkOverlay.png");
  box-shadow: inset 0 0 7px 3px black;  
  border-image-slice: 1 1 1 1 fill!important;
  border-image-width: 9px!important;
  filter: brightness(0.9) saturate(0.9) drop-shadow(0px 0px 15px
    rgba(0,0,0,1));
  transition: all 150ms;
  transition-timing-function: cubic-bezier(0.12, 0.57, 0.63, 0.21);
}

.message:hover::before {
  filter: brightness(1.1) saturate(1.3) drop-shadow(0px 0px 40px
    rgba(255,255,255,0.25));
  transform: scale(1.2);
  overflow-x: none!important;
}

#menu {
background: none;
border: none;
backdrop-filter: none;
}

.message {
 font-family: Amatic SC!important;
 font-size: 30px;
}

#menuTitle {
 background-image: url('../users/mods/lbplogolong.png')!important;
 background-size: auto 100%!important;
 background-repeat: no-repeat!important;
 background-position: center!important;
 color: rgba(0,0,0,0)!important;
 text-shadow: none!important;
 font-size: 50px!important;
 background: none;
 -webkit-box-reflect: unset!important;
 font-size: 100px!important;
 margin: 0 0 10px 0;
 user-select: none;
}

#sunkistPalaceHTML {
 background:
  url(../users/assets/boxel/images/Gardens2.webp);
 background-attachment: fixed;
 background-position: right;
 background-repeat: no-repeat!important;
 background-size: auto 100%;
}

#body {
 backdrop-filter: saturate(1.5) blur(8px);
 background: linear-gradient(
   rgba(0,0,0,0.75),
   rgba(0,0,0,0),
   rgba(0,0,0,0.75)
  );
 background-attachment: fixed;
 background-position: center;
 background-size: auto 100%;
 margin:0;
 padding:8px;
}


details {
 padding: 0;
 color: white;
 background: rgba(0,0,0,0.35);
 backdrop-filter: blur(12px)!important;
 transition: none;
 padding-bottom: 5px;
}

summary {
 background: rgba(0,150,180,0.5);
 transition: all 50ms ease-in-out;
 padding:10px;
 border-radius: 30px / 13px;
 border: none;
 margin-top: 5px;
}

summary:hover {
 padding-top:15px;
 padding-bottom: 15px;
 margin-top: 0px;
 background: rgba(0,250,0,0.5);
}

#settingGrid {grid-template-columns: 50% 50%!important;}

/* END Imagisphere */