/* START LAYER 10 */

#sunkistPalaceHTML, #menu, #status, summary, .message, .rightist {
 font-family: Lethal!important;
}

h1 {
 background:none;
 backdrop-filter: blur(8px);
 color: rgba(225,0,0,1)!important;
 font-family: Broshkill;
 font-size:64px;
 margin:10px;
 letter-spacing:1px;
 text-shadow: 
  0 2px black,
  0 -2px rgba(225,75,0,1),
  -1px 0 rgba(180, 0, 0,1),
  1px 0 black,
  0 0 20px black
  !important;
 font-weight:normal;
 -webkit-box-reflect: unset!important;
}

#sunkistPalaceHTML {
 background: url(../users/mods/modBackgrounds/layer-10.webp) fixed center top;
 background-size: 100% auto;
}

#menu {
 backdrop-filter: none;
 background: rgba(0,0,0,0.75);
 border: none;
 border-radius: 0;
}

#soapMode {
 background: rgba(0,0,0,0.5);
 backdrop-filter: blur(8px);
 font-family: Lethal!important;
 -webkit-box-reflect: unset!important;
}

details {
 color: white;
 background: none;
 backdrop-filter: blur(8px);
}

.message {
 background: rgba(0,0,0,0.75)!important;
 /* backdrop-filter: blur(8px); */
 border-radius: 0;
 color: white!important;
 text-shadow:none!important;
 font-size: initial!important;
}

.rightist {
 color:white!important
 border-radius:0px!important;
 background: rgba(0,0,0,0.75)!important;
}

/* END LAYER 10 */