/* START Menu Previewer */
#menu, #menu > * {
	font-size: 1.5em!important;
}

#menu {
	aspect-ratio:1/1!important;
	height: 90%!important;
	width: auto!important;
}

#soapMode {height:20%!important;}
#menuTitle {font-size: 2.5em!important;}
details {padding-bottom: 60%!important;}
/* END Menu Previewer */