/* START More Animations */

/* #settingGrid {grid-template-columns: 50% 50%!important;} */

details {
 max-height: 28px!important;
 transition: max-height 0.05s ease-in-out;
}

[open] {
 max-height: 300px!important;
 transition: max-height 0.05s ease-in-out;
}

.message {animation: fade-in 0.5s ease-in both; transform-origin: top;overflow: hidden;}

@keyframes fade-in {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
} 

/* END More Animations */ 