/* START Orbit */

	#body{
		font-family: Orbitron !important;
		h1 {
			background:black;
			color: cyan!important;
			font-family: Orbitron;
			font-size:40x;
			margin:15px;
			padding-top:3px;
			letter-spacing:1px;
			font-weight:normal;
			text-shadow:blue 0px 0px 10px !important;
			border: magenta 2px solid;
			border-radius: 15px;
		}
		textarea{
			padding: 5px 15px;
			border-radius: 15px;
			border: 2px solid cyan;
		}
	}
	.message .rightist {opacity:25%;}
	.message:hover .rightist {opacity:100%;background:none;}

	#body {
	 background: url('..users/assets/afton/testimages/BlueBen.jpg') fixed center top;
	 background-size: 100% auto;
	 margin: 0;
	 padding: 10px;
	}
	* {
		scrollbar-width: auto;
		scrollbar-color: #08CBD3 #173A3C;
	}

	/*
	 * 	Stylesheet for elements unique to chat
	 */

	html {
		/*Background:*/
		/*Rain gif and gradient*/
		background: url(../images/rain.gif),
			linear-gradient(25deg,
				rgba(1, 99, 80) 50%,
				rgba(52, 148, 129) 60%,
				rgba(0, 31, 27) 100%);
		background-size: 40%, 100%;
		image-rendering: pixelated;
		background-blend-mode: lighten;
		/*Rain scrolls, gradient does not*/
		background-attachment: scroll, fixed;
		/*General page settings*/
		overflow: auto;
		text-align: top;
		scroll-behavior: auto;
		font-family: tahoma;


	}



	#onlineCount * {border-radius: 10px !important;
	padding: 1px; padding-left: 2.5px;} 

	*::-webkit-scrollbar-track {
		background: #39304f;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #9104dc;
		border-radius: 13px;
		border: 3px inset #5125b6;
	}

	#onlineCount *:before, #talkorinos *:before{
			border: none !important;
			background-image: none !important;
	}

	/***--- Menu Stuffs ---***/

	#menu { /*Menu container*/
		position: sticky;
		z-index: 15;
		border-radius: 15px;
		backdrop-filter: blur(8px);
		right: 450;
		background-color: rgb(2 0 100 / 24%);
		margin: auto;
		width: 50%;
	top:0%
		padding: 7px;
		border: double rgba(4, 148, 119, 1) 4px;
		text-align: center;
	}

	#status { /*Who's online*/
					margin-bottom 10px;
		width: 96%;
		font-family: sans-serif;
		color: #ef01ff;
		border-radius: 10px;
		padding: 10px;
				 margin: initial;
		margin-bottom: 12px;
	margin-top: 12px;
		margin-left: 18.5px;
		background-color: rgb(0 0 0 / 80%);
		backdrop-filter: blur(8px);
		text-align: left;
	}

	#typingP { /*Who's typing*/
		float: right;
		color: #ef01ff;
	}

	h1 { /*Sunkist Palace text*/
		background-color: rgb(5 75 53 / 82%);]
		color: #ff3eb7;
		font-family: "Orbitron";
		text-shadow: 0px 0px 5px #ff3eb7;
		border-radius: 5px;
	}

	summary {
		font-family: tahoma;
	}
	label {
		font-family: tahoma;
	}
	details {
		backdrop-filter: sepia(100%);
		background-color: rgba(150, 150, 150, 0.2);
	}

/* END Orbit */


