/* START Simple Dark */
	/* MDN web docs my beloved... */
	
	
	#body {
	 @import url('https://fonts.cdnfonts.com/css/frutiger');
	 @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');
	}
	
	html {
	 width: 80%;
	 margin: auto;
	 background-image: url("");
	 background: radial-gradient(circle, rgba(45,45,45,1) 0%, rgba(0,0,0,1) 99%);
	 background-position: center;
	 background-attachment: fixed;
	 align-items: center;
	 justify-content: center;
	}
	
	.rightist{
		max-height: 10%;
		float:right;
		margin-left: auto;
		position: static;
		right:unset;
		left:80%;
		margin:auto;
	}
	
	.rightist:hover{
		filter:none;
	}
	
	.message{
		display: block;
		vertical-align: top;
		width: 80%;
		margin: auto;
	}
	
	
	.message:hover{
	filter:none;
	}
	
	
	/*title and menu!!!*/
	
	h1 {
			background-color: rgba(60, 45, 75, 0);
			color: white !important;  
			text-shadow: 0px 0px 5px black !important;
			border-radius: 5px;
			transform: scale(0.8, 1);
			text-transform:uppercase !important;
			font-family: Times New Roman, sans-serif !important;
	}
	
	#menu {
			position: sticky;
			z-index: 15;
			border-radius: 3px;
			backdrop-filter: blur(8px);
			top: 10;
			background: radial-gradient(circle, rgba(24,24,24,1) 0%, rgba(0,0,0,1) 99%);;
			margin: auto;
			width: 80%;
			padding: 5px;
			border: ridge rgb(0 0 0 / 80%) 2px;
			text-align: center;
			color:white;
	}

/* END Simple Dark */
