/* START Sunkist Logo */

#menuTitle {
background-image: url(../users/mods/modAssets/sunkist-logo-logo.png)!important;
background-size:auto 100%!important;
background-repeat: no-repeat!important;
background-position:center!important;
color:rgba(0,0,0,0)!important;
text-shadow:none!important;
font-size:50px!important;
}

/* END Sunkist Logo */