/* START Traditional Textbox at Bottom */

#soapMode{
 bottom: 0;
 position:fixed;
 left: 0;
 background-color: black;
 border: none;
 padding: 10px;
}

#menu{
 padding: 0px;
 margin: 0px;
 border: none;
 width: 100%;
 top: 0px;
 backdrop-filter: none;
 background-color: dimgray;
}
h1{ margin-top: 0px;} 
html{ padding-bottom: 100;}


/* END Traditional Textbox at Bottom */