/* START VGUI */

#menu {
background: #4d5746!important;
 border: outset 2px #697463!important;
 border-radius: 0px!important;
 font-family: Arial!important;
 outline: none!important;


#soapMode, #sStyle, #sJs {
 background: rgba(48, 56, 45, 1);
 color: white;
 text-shadow:none;
 border: inset 2px rgba(106, 128, 94, 1);
 margin-bottom: 10px;
 margin-top: 10px;
 outline: none;
 -webkit-box-reflect: unset!important;
 color: rgba(255,255,255,0.5)!important;
}

h1 {
 background: none;
 text-shadow: none!important;
 text-transform: uppercase;
 font-family: Arial;
 -webkit-box-reflect: unset!important;
 color: rgba(255,255,255,0.5)!important;
}

summary, button, #sCss, #sJsMenu {
 color: white!important;
 background: #4d5746!important;
 border: outset 2px #697463!important;
 border-radius: 0px!important;
 font-family: Arial!important;
 outline: none!important;
}

details {
 transition: none;
 margin: 7px;
 padding: 0;
 background: rgba(48, 56, 45, 1);
 color: white;
 text-shadow: none;
}

::backdrop {background: rgba(0, 0, 0, 0.5)!important;}

}

/* END VGUI */